.header {

    background-color: #ffdead;
    display: flex;
    justify-content: center;

}

.header h1 {   
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.submit {
    border: 1px solid black;
    border-radius: 5px;
}

.newsContainer {
    margin-left: 20px;
}

.article {
    margin:0 20px 20px 20px ;
    padding: 10px;
    position: relative;
    
}

/* .article:hover {
    cursor:pointer;
} */

.article__title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    border-top: 1px solid rgb(211, 211, 211);
    padding-top: 10px;;
}

.article__content {
    margin-top: 10px;
    padding: 50px 10px ;
    position: relative;

}

.article__category {
    margin: 10px;
    height: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(233, 48, 23);
    font-size: 0.8em;
}

.article__category:hover {
    text-decoration: none;
}

.article__createdAt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(151, 151, 151);
    font-size: 0.8em;
    margin: 10px;
}

.article__expand-button {
    position: absolute;
    font-size: 0.8em;;
    right: 30px;
    bottom: 20px;
    text-decoration: none;
    color: rgb(199, 199, 199);
    z-index: 1;
}

.article__expand-button--hovered {
    cursor: pointer;
    text-decoration: none;
    color: black;
    
}


.article__expand-comments-button {
    
    position: absolute;
    font-size: 0.8em;;
    right: 100px;
    bottom: 20px;
    text-decoration: none;
    color: rgb(199, 199, 199);
    z-index: 1;

}

.article__expand-comments-button:hover {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.article__comment {
    padding: 20px;
    
}

.article__comment-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(227, 242, 251);
}

.article__comment-published-at {
    padding-right: 25px;
    right: 0;
}

.article__comment-published-at:before {
    content: 'Опубликовано: ';
    color: rgb(199, 199, 199);
}

.article__comment-author{
    padding-left: 25px;
}

.article__comment-author::before {
    content: 'Автор: ';
    color: rgb(199, 199, 199);
}

.article__comment-content {
    padding: 25px;
}

.article__comments-wrapper--hidden {
    display: none;
}

.article__comment-form {
    display: block;
    position: relative;
}

.article__comment-form-name {
    margin-top: 35px;;
    height: 30px;
}

.article__comment-form:before {
    position: absolute;
    top: 0;
    content: "Ваш комментарий : ";
}

.article__comment-form-content {
    height: 200px;
    width: 100%;
    margin-top: 20px;
}

.article__comment-form-submit {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(19, 105, 243);
    border: none;
}

.article__comment-form-submit:hover {
    cursor: pointer;
    opacity: 0.7;
}