html
  head
    title Новостной портал
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
   

  body
    block content
      .header
        h1 Новостной портал
      .newsContainer
      